<!doctype html>
<html>
  <body>
    <nav>
      <ul>
        <li>
          {{if .CurrentUser}}
          <a href="/profile/">{{.CurrentUser}}</a>
          {{else}}
          <a href="/sign-in/">Sign-in</a>
          {{end}}
          <!-- guard if authenticated -- >
          <a href="/posts/new/">New Post</a>
        </li>
      </ul>
    </nav>
    <h2> Latest Posts</h2>
    <ol>
      {{range .LatestPosts}}
      <li>{{.Title}}</li>
      {{end}}
    </ol>
  </body>
</html>
