<!doctype html>
<html>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/sign-in/">Sign-in</a>
        </li>
      </ul>
    </nav>
    <h2> Latest Posts</h2>
    <ol>
      {{range .LatestPosts}}
      <li>{{.Title}}</li>
      {{end}}
    </ol>
  </body>
</html>
