<!doctype html>
<html>
  <head>
        <meta charset='utf-8'>
        <title>{% block title %}{% endblock %} — Serious Trolling</title>
        <style>
          nav ul {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            border: 1px solid gray;
          }
          ul.post-tags {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: left;
          }
        </style>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/archives/"> Archive</a></li>
        <li><a href="/tags/"> Tags</a></li>
        <li><a href="/p/about/"> About</a></li>
      </ul>
    </nav>
    <main>
      {% block main %}{% endblock %}
    </main>
  </body>
</html>
{{end}}
