{{template "layout" .}}
{{define "title"}}Latest Posts{{end}}
{{define "main"}}
<h2> Latest Posts</h2>
<ol>
  {{range .LatestPosts}}
  <li><a href="{{.URL}}">{{.Title}}</a> published on {{.Published}}</li>
  {{end}}
</ol>
{{end}}
