{{define "layout"}}
<!doctype html>
<html>
  <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} — Serious Trolling</title>
  </head>
  <body>
    <nav>
      <ol>
        <li><a href="/tags/">Tags</a></li>
      </ol>
    </nav>
    <main>
      {{template "main" .}}
    </main>
  </body>
</html>
{{end}}
