{
  "ref": "refs/heads/default",
  "before": "7b231bb219d81253ea1f1772377b6aad34822fb3",
  "after": "0722cb82cd4f442b667beafd3f9c295adaccfb7a",
  "repository": {
    "id": 469844163,
    "node_id": "R_kgDOHAFAww",
    "name": "swiki",
    "full_name": "PuercoPop/swiki",
    "private": true,
    "owner": {
      "name": "PuercoPop",
      "email": "pirata@gmail.com",
      "login": "PuercoPop",
      "id": 387111,
      "node_id": "MDQ6VXNlcjM4NzExMQ==",
      "avatar_url": "https://avatars.githubusercontent.com/u/387111?v=4",
      "gravatar_id": "",
      "url": "https://api.github.com/users/PuercoPop",
      "html_url": "https://github.com/PuercoPop",
      "followers_url": "https://api.github.com/users/PuercoPop/followers",
      "following_url": "https://api.github.com/users/PuercoPop/following{/other_user}",
      "gists_url": "https://api.github.com/users/PuercoPop/gists{/gist_id}",
      "starred_url": "https://api.github.com/users/PuercoPop/starred{/owner}{/repo}",
      "subscriptions_url": "https://api.github.com/users/PuercoPop/subscriptions",
      "organizations_url": "https://api.github.com/users/PuercoPop/orgs",
      "repos_url": "https://api.github.com/users/PuercoPop/repos",
      "events_url": "https://api.github.com/users/PuercoPop/events{/privacy}",
      "received_events_url": "https://api.github.com/users/PuercoPop/received_events",
      "type": "User",
      "site_admin": false
    },
    "html_url": "https://github.com/PuercoPop/swiki",
    "description": null,
    "fork": false,
    "url": "https://github.com/PuercoPop/swiki",
    "forks_url": "https://api.github.com/repos/PuercoPop/swiki/forks",
    "keys_url": "https://api.github.com/repos/PuercoPop/swiki/keys{/key_id}",
    "collaborators_url": "https://api.github.com/repos/PuercoPop/swiki/collaborators{/collaborator}",
    "teams_url": "https://api.github.com/repos/PuercoPop/swiki/teams",
    "hooks_url": "https://api.github.com/repos/PuercoPop/swiki/hooks",
    "issue_events_url": "https://api.github.com/repos/PuercoPop/swiki/issues/events{/number}",
    "events_url": "https://api.github.com/repos/PuercoPop/swiki/events",
    "assignees_url": "https://api.github.com/repos/PuercoPop/swiki/assignees{/user}",
    "branches_url": "https://api.github.com/repos/PuercoPop/swiki/branches{/branch}",
    "tags_url": "https://api.github.com/repos/PuercoPop/swiki/tags",
    "blobs_url": "https://api.github.com/repos/PuercoPop/swiki/git/blobs{/sha}",
    "git_tags_url": "https://api.github.com/repos/PuercoPop/swiki/git/tags{/sha}",
    "git_refs_url": "https://api.github.com/repos/PuercoPop/swiki/git/refs{/sha}",
    "trees_url": "https://api.github.com/repos/PuercoPop/swiki/git/trees{/sha}",
    "statuses_url": "https://api.github.com/repos/PuercoPop/swiki/statuses/{sha}",
    "languages_url": "https://api.github.com/repos/PuercoPop/swiki/languages",
    "stargazers_url": "https://api.github.com/repos/PuercoPop/swiki/stargazers",
    "contributors_url": "https://api.github.com/repos/PuercoPop/swiki/contributors",
    "subscribers_url": "https://api.github.com/repos/PuercoPop/swiki/subscribers",
    "subscription_url": "https://api.github.com/repos/PuercoPop/swiki/subscription",
    "commits_url": "https://api.github.com/repos/PuercoPop/swiki/commits{/sha}",
    "git_commits_url": "https://api.github.com/repos/PuercoPop/swiki/git/commits{/sha}",
    "comments_url": "https://api.github.com/repos/PuercoPop/swiki/comments{/number}",
    "issue_comment_url": "https://api.github.com/repos/PuercoPop/swiki/issues/comments{/number}",
    "contents_url": "https://api.github.com/repos/PuercoPop/swiki/contents/{+path}",
    "compare_url": "https://api.github.com/repos/PuercoPop/swiki/compare/{base}...{head}",
    "merges_url": "https://api.github.com/repos/PuercoPop/swiki/merges",
    "archive_url": "https://api.github.com/repos/PuercoPop/swiki/{archive_format}{/ref}",
    "downloads_url": "https://api.github.com/repos/PuercoPop/swiki/downloads",
    "issues_url": "https://api.github.com/repos/PuercoPop/swiki/issues{/number}",
    "pulls_url": "https://api.github.com/repos/PuercoPop/swiki/pulls{/number}",
    "milestones_url": "https://api.github.com/repos/PuercoPop/swiki/milestones{/number}",
    "notifications_url": "https://api.github.com/repos/PuercoPop/swiki/notifications{?since,all,participating}",
    "labels_url": "https://api.github.com/repos/PuercoPop/swiki/labels{/name}",
    "releases_url": "https://api.github.com/repos/PuercoPop/swiki/releases{/id}",
    "deployments_url": "https://api.github.com/repos/PuercoPop/swiki/deployments",
    "created_at": 1647280022,
    "updated_at": "2022-03-14T17:47:32Z",
    "pushed_at": 1648352202,
    "git_url": "git://github.com/PuercoPop/swiki.git",
    "ssh_url": "git@github.com:PuercoPop/swiki.git",
    "clone_url": "https://github.com/PuercoPop/swiki.git",
    "svn_url": "https://github.com/PuercoPop/swiki",
    "homepage": null,
    "size": 8,
    "stargazers_count": 0,
    "watchers_count": 0,
    "language": "Go",
    "has_issues": true,
    "has_projects": true,
    "has_downloads": true,
    "has_wiki": true,
    "has_pages": false,
    "forks_count": 0,
    "mirror_url": null,
    "archived": false,
    "disabled": false,
    "open_issues_count": 0,
    "license": null,
    "allow_forking": true,
    "is_template": false,
    "topics": [

    ],
    "visibility": "private",
    "forks": 0,
    "open_issues": 0,
    "watchers": 0,
    "default_branch": "default",
    "stargazers": 0,
    "master_branch": "default"
  },
  "pusher": {
    "name": "PuercoPop",
    "email": "pirata@gmail.com"
  },
  "sender": {
    "login": "PuercoPop",
    "id": 387111,
    "node_id": "MDQ6VXNlcjM4NzExMQ==",
    "avatar_url": "https://avatars.githubusercontent.com/u/387111?v=4",
    "gravatar_id": "",
    "url": "https://api.github.com/users/PuercoPop",
    "html_url": "https://github.com/PuercoPop",
    "followers_url": "https://api.github.com/users/PuercoPop/followers",
    "following_url": "https://api.github.com/users/PuercoPop/following{/other_user}",
    "gists_url": "https://api.github.com/users/PuercoPop/gists{/gist_id}",
    "starred_url": "https://api.github.com/users/PuercoPop/starred{/owner}{/repo}",
    "subscriptions_url": "https://api.github.com/users/PuercoPop/subscriptions",
    "organizations_url": "https://api.github.com/users/PuercoPop/orgs",
    "repos_url": "https://api.github.com/users/PuercoPop/repos",
    "events_url": "https://api.github.com/users/PuercoPop/events{/privacy}",
    "received_events_url": "https://api.github.com/users/PuercoPop/received_events",
    "type": "User",
    "site_admin": false
  },
  "created": false,
  "deleted": false,
  "forced": false,
  "base_ref": null,
  "compare": "https://github.com/PuercoPop/swiki/compare/7b231bb219d8...0722cb82cd4f",
  "commits": [
    {
      "id": "0722cb82cd4f442b667beafd3f9c295adaccfb7a",
      "tree_id": "b8b705eb0566ff3d179086db9476b564bb9ae614",
      "distinct": true,
      "message": "Scaffold for webhook listener",
      "timestamp": "2022-03-26T22:35:53-05:00",
      "url": "https://github.com/PuercoPop/swiki/commit/0722cb82cd4f442b667beafd3f9c295adaccfb7a",
      "author": {
        "name": "Javier Olaechea",
        "email": "pirata@gmail.com",
        "username": "PuercoPop"
      },
      "committer": {
        "name": "Javier Olaechea",
        "email": "pirata@gmail.com",
        "username": "PuercoPop"
      },
      "added": [
        "NOTES.md",
        "cmd/webhookd/main.go"
      ],
      "removed": [

      ],
      "modified": [
        "swiki.go",
        "swiki_test.go"
      ]
    }
  ],
  "head_commit": {
    "id": "0722cb82cd4f442b667beafd3f9c295adaccfb7a",
    "tree_id": "b8b705eb0566ff3d179086db9476b564bb9ae614",
    "distinct": true,
    "message": "Scaffold for webhook listener",
    "timestamp": "2022-03-26T22:35:53-05:00",
    "url": "https://github.com/PuercoPop/swiki/commit/0722cb82cd4f442b667beafd3f9c295adaccfb7a",
    "author": {
      "name": "Javier Olaechea",
      "email": "pirata@gmail.com",
      "username": "PuercoPop"
    },
    "committer": {
      "name": "Javier Olaechea",
      "email": "pirata@gmail.com",
      "username": "PuercoPop"
    },
    "added": [
      "NOTES.md",
      "cmd/webhookd/main.go"
    ],
    "removed": [

    ],
    "modified": [
      "swiki.go",
      "swiki_test.go"
    ]
  }
}
